body{
    background-color: rgb(248, 195, 204);
    font-family: 'Stylish', sans-serif;
     text-align: center;
}

.button .btn {
    background-color: rgb(149, 215, 241); 
    border:2px rgb(68, 66, 66) solid;
    font-family: 'Stylish', sans-serif;
    color: black;
    
}

form {
  background-color: rgba(192, 186, 186, 0.746);
  padding: 30px;
  margin: 30px;
}